/* design resolution */
$width: 1280;
$height: 720;

/* font-size map */
$f12:  0.75rem;
$f14:  0.875rem;
$f16:  1rem;
$f18:  1.125rem;
$f20:  1.25rem;
$f22:  1.375rem;
$f24:  1.5rem;
$f25:  1.563rem;
$f26:  1.625rem;
$f28:  1.75rem;
$f30:  1.875rem;
$f32:  2rem;
$f34:  2.125rem;
$f36:  2.25rem;
$f38:  2.375rem;
$f40:  2.5rem;
$f42:  2.625rem;
$f44:  2.75rem;
$f46:  2.875rem;
$f48:  3rem;
$f50:  3.125rem;
$f60:  3.75rem;
$f64:  4rem;
